/* Styles généraux */
body {
  /* Définit la police de caractères pour le corps de la page */
  font-family: 'Lombardina Initial Two', cursive;
  /* Définit l'image de fond pour le corps de la page */
  background: white url('/images/image_de_fond.png') no-repeat fixed center;
  background-size: cover;
  /* Définit les marges pour le corps de la page */
  margin: 0;
  /* Définit la transition pour l'opacité de la page */
  transition: opacity 0.5s ease-in-out;
}

/* En-tête */
header {
  /* Définit la couleur de fond et la couleur du texte pour l'en-tête */
  background-color: #333;
  color: #fff;
  padding: 10px;
}

h1 {
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

/* Formulaire d'histoire */
#story-form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #444;
}

/* Pied de page */
footer {
  /* Définit la couleur de fond et la couleur du texte pour le pied de page */
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Styles spécifiques à autres-contes.html */
main {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: green;
  color: white;
  font-family: 'Lombardina Initial Two', cursive;
}

h2 {
  margin-top: 0;
}

p {
  margin: 0;
  padding: 10px 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

blockquote {
  margin: 0;
  padding: 10px;
  background-color: #f7f7f7;
  border-left: 5px solid #333;
}

a:hover {
  color: red;
}

/* Style pour le bouton de lecture vocale */
button {
  /* Définit la position relative pour ne pas affecter le positionnement absolu de ses enfants */
  position: relative;
  /* Définit un z-index supérieur à celui de main */
  z-index: 2;
  /* Ajoute une marge pour plus d'espace */
  margin: 10px;
}
